# PANDAS MINI PROJECT

You have the data for the 100 top-rated movies from the past decade along with various pieces of information about the movie, its actors, and the voters who have rated these movies online. In this assignment, you will try to find some interesting insights into these movies and their voters, using Python.

# Task 1: Reading the data

### Subtask 1.1: Read the Movies Data.

Read the movies data file provided and store it in a dataframe movies.

In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('Movie+Assignment+Data.csv')
df

,Title,title_year,budget,Gross,actor_1_name,actor_2_name,actor_3_name,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,...,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,Votes1000,VotesUS,VotesnUS,content_rating,Country
0,La La Land,2016,30000000,151101803,Ryan Gosling,Emma Stone,Ami√©e Conn,14000,19000.0,NaN,...,7.9,7.8,7.6,7.6,7.5,7.1,8.3,8.1,PG-13,USA
1,Zootopia,2016,150000000,341268248,Ginnifer Goodwin,Jason Bateman,Idris Elba,2800,28000.0,27000.0,...,7.8,8.1,7.8,7.8,8.1,7.6,8.0,8.0,PG,USA
2,Lion,2016,12000000,51738905,Dev Patel,Nicole Kidman,Rooney Mara,33000,96000.0,9800.0,...,7.9,8.2,8.0,7.9,8.4,7.1,8.1,8.0,PG-13,Australia
3,Arrival,2016,47000000,100546139,Amy Adams,Jeremy Renner,Forest Whitaker,35000,5300.0,NaN,...,7.8,7.8,7.6,7.6,7.7,7.3,8.0,7.9,PG-13,USA
4,Manchester by the Sea,2016,9000000,47695371,Casey Affleck,Michelle Williams,Kyle Chandler,518,71000.0,3300.0,...,7.7,7.7,7.6,7.6,7.6,7.1,7.9,7.8,R,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Whiplash,2014,3300000,13092000,J.K. Simmons,Melissa Benoist,Chris Mulkey,24000,970.0,535.0,...,8.3,8.2,8.1,8.1,8.2,8.0,8.6,8.4,R,USA
96,Before Midnight,2013,3000000,8114507,Seamus Davey-Fitzpatrick,Ariane Labed,Athina Rachel Tsangari,140,63.0,48.0,...,7.8,7.6,7.3,7.4,7.2,7.0,8.0,7.9,R,USA
97,Star Wars: Episode VII - The Force Awakens,2015,245000000,936662225,Doug Walker,Rob Walker,0,131,12.0,0.0,...,7.9,8.2,7.9,7.8,8.2,7.7,8.2,7.9,PG-13,USA
98,Harry Potter and the Deathly Hallows: Part I,2010,150000000,296347721,Rupert Grint,Toby Jones,Alfred Enoch,10000,2000.0,1000.0,...,7.3,8.1,7.4,7.3,8.0,6.7,7.9,7.5,PG-13,UK
99,Tucker and Dale vs Evil,2010,5000000,223838,Katrina Bowden,Tyler Labine,Chelan Simmons,948,779.0,440.0,...,7.5,7.7,7.5,7.4,7.7,7.1,7.7,7.5,R,Canada

In [22]:
df.head(2)

,Title,title_year,budget,Gross,actor_1_name,actor_2_name,actor_3_name,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,...,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,Votes1000,VotesUS,VotesnUS,content_rating,Country
0,La La Land,2016,30000000,151101803,Ryan Gosling,Emma Stone,Ami√©e Conn,14000,19000.0,NaN,...,7.9,7.8,7.6,7.6,7.5,7.1,8.3,8.1,PG-13,USA
1,Zootopia,2016,150000000,341268248,Ginnifer Goodwin,Jason Bateman,Idris Elba,2800,28000.0,27000.0,...,7.8,8.1,7.8,7.8,8.1,7.6,8.0,8.0,PG,USA

### Subtask 1.2: Inspect the Dataframe
Inspect the dataframe for dimensions, null-values, and summary of different numeric columns.

In [32]:
df_copy=df.copy()

In [20]:
df_copy.shape

(100, 62)

In [14]:
nan_vlaues=df_copy.isnull().sum()

In [15]:
nan_vlaues

Title             0
title_year        0
budget            0
Gross             0
actor_1_name      0
                 ..
Votes1000         0
VotesUS           0
VotesnUS          0
content_rating    0
Country           0
Length: 62, dtype: int64

In [21]:
df_copy.describe()

,title_year,budget,Gross,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,IMDb_rating,MetaCritic,Runtime,CVotes10,...,Votes1829F,Votes3044,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,Votes1000,VotesUS,VotesnUS
count,100.000000,1.000000e+02,1.000000e+02,100.000000,99.000000,98.000000,100.000000,95.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,2012.820000,7.838400e+07,1.468679e+08,13407.270000,7377.303030,3002.153061,7.883000,78.252632,126.420000,73212.160000,...,7.982000,7.732000,7.723000,7.780000,7.65100,7.624000,7.770000,7.274000,7.958000,7.793000
std,1.919491,7.445295e+07,1.454004e+08,10649.037862,13471.568216,6940.301133,0.247433,9.122066,19.050799,82669.594746,...,0.321417,0.251814,0.260479,0.282128,0.21485,0.213258,0.301344,0.361987,0.232327,0.264099
min,2010.000000,3.000000e+06,2.238380e+05,39.000000,12.000000,0.000000,7.500000,62.000000,91.000000,6420.000000,...,7.300000,7.300000,7.200000,7.200000,7.10000,7.100000,7.000000,6.400000,7.500000,7.300000
25%,2011.000000,1.575000e+07,4.199752e+07,1000.000000,580.000000,319.750000,7.700000,72.000000,114.750000,30587.000000,...,7.700000,7.600000,7.500000,7.600000,7.50000,7.475000,7.500000,7.100000,7.800000,7.600000
50%,2013.000000,4.225000e+07,1.070266e+08,13000.000000,1000.000000,626.500000,7.800000,78.000000,124.000000,54900.500000,...,8.000000,7.700000,7.700000,7.800000,7.65000,7.600000,7.800000,7.300000,7.950000,7.750000
75%,2014.000000,1.500000e+08,2.107548e+08,20000.000000,11000.000000,1000.000000,8.100000,83.500000,136.250000,80639.000000,...,8.200000,7.900000,7.900000,8.000000,7.80000,7.800000,7.925000,7.500000,8.100000,7.925000
max,2016.000000,2.600000e+08,9.366622e+08,35000.000000,96000.000000,46000.000000,8.800000,100.000000,180.000000,584839.000000,...,8.800000,8.700000,8.700000,8.500000,8.10000,8.100000,8.500000,8.200000,8.700000,8.800000

## Task 2: Data Analysis

Now that we have loaded the dataset and inspected it, we see that most of the data is in place. As of now, no data cleaning is required, so let's start with some data manipulation, analysis, and visualisation to get various insights about the data.

### Subtask 2.1: Reduce those Digits!
These numbers in the `budget` and `gross` are too big, compromising its readability. Let's convert the unit of the budget and gross columns from `$` to `million $` first.

In [35]:
df_copy['budget']=df_copy['budget']/1000000
df_copy['Gross']=df_copy['Gross']/1000000
df_copy

,Title,title_year,budget,Gross,actor_1_name,actor_2_name,actor_3_name,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,...,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,Votes1000,VotesUS,VotesnUS,content_rating,Country
0,La La Land,2016,3.000000e-11,1.511018e-04,Ryan Gosling,Emma Stone,Ami√©e Conn,14000,19000.0,NaN,...,7.9,7.8,7.6,7.6,7.5,7.1,8.3,8.1,PG-13,USA
1,Zootopia,2016,1.500000e-10,3.412682e-04,Ginnifer Goodwin,Jason Bateman,Idris Elba,2800,28000.0,27000.0,...,7.8,8.1,7.8,7.8,8.1,7.6,8.0,8.0,PG,USA
2,Lion,2016,1.200000e-11,5.173891e-05,Dev Patel,Nicole Kidman,Rooney Mara,33000,96000.0,9800.0,...,7.9,8.2,8.0,7.9,8.4,7.1,8.1,8.0,PG-13,Australia
3,Arrival,2016,4.700000e-11,1.005461e-04,Amy Adams,Jeremy Renner,Forest Whitaker,35000,5300.0,NaN,...,7.8,7.8,7.6,7.6,7.7,7.3,8.0,7.9,PG-13,USA
4,Manchester by the Sea,2016,9.000000e-12,4.769537e-05,Casey Affleck,Michelle Williams,Kyle Chandler,518,71000.0,3300.0,...,7.7,7.7,7.6,7.6,7.6,7.1,7.9,7.8,R,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Whiplash,2014,3.300000e-12,1.309200e-05,J.K. Simmons,Melissa Benoist,Chris Mulkey,24000,970.0,535.0,...,8.3,8.2,8.1,8.1,8.2,8.0,8.6,8.4,R,USA
96,Before Midnight,2013,3.000000e-12,8.114507e-06,Seamus Davey-Fitzpatrick,Ariane Labed,Athina Rachel Tsangari,140,63.0,48.0,...,7.8,7.6,7.3,7.4,7.2,7.0,8.0,7.9,R,USA
97,Star Wars: Episode VII - The Force Awakens,2015,2.450000e-10,9.366622e-04,Doug Walker,Rob Walker,0,131,12.0,0.0,...,7.9,8.2,7.9,7.8,8.2,7.7,8.2,7.9,PG-13,USA
98,Harry Potter and the Deathly Hallows: Part I,2010,1.500000e-10,2.963477e-04,Rupert Grint,Toby Jones,Alfred Enoch,10000,2000.0,1000.0,...,7.3,8.1,7.4,7.3,8.0,6.7,7.9,7.5,PG-13,UK
99,Tucker and Dale vs Evil,2010,5.000000e-12,2.238380e-07,Katrina Bowden,Tyler Labine,Chelan Simmons,948,779.0,440.0,...,7.5,7.7,7.5,7.4,7.7,7.1,7.7,7.5,R,Canada

### Subtask 2.2: Let's Talk Profit!

1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`
2. Sort the dataframe using the `profit` column as reference.
3. Extract the top ten profiting movies in descending order and store them in a new dataframe named `top10`
4. Record your observations
5. Extract the movies with a `negative profit` and store them in a new dataframe named `neg_profit`

In [43]:
df_copy['profit']=df_copy['Gross']-df_copy['budget']
df_copy.head(1)

,Title,title_year,budget,Gross,actor_1_name,actor_2_name,actor_3_name,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,...,Votes3044F,Votes45A,Votes45AM,Votes45AF,Votes1000,VotesUS,VotesnUS,content_rating,Country,profit
0,La La Land,2016,3.000000e-11,0.000151,Ryan Gosling,Emma Stone,Ami√©e Conn,14000,19000.0,NaN,...,7.8,7.6,7.6,7.5,7.1,8.3,8.1,PG-13,USA,0.000151

In [71]:
df_copy_sorted=df_copy.sort_values(by='profit',ascending=False)
df_copy_sorted

,Title,title_year,budget,Gross,actor_1_name,actor_2_name,actor_3_name,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,...,Votes3044F,Votes45A,Votes45AM,Votes45AF,Votes1000,VotesUS,VotesnUS,content_rating,Country,profit
97,Star Wars: Episode VII - The Force Awakens,2015,2.450000e-10,9.366622e-04,Doug Walker,Rob Walker,0,131,12.0,0.0,...,8.2,7.9,7.8,8.2,7.7,8.2,7.9,PG-13,USA,9.366620e-04
11,The Avengers,2012,2.200000e-10,6.232795e-04,Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson,26000,21000.0,19000.0,...,8.1,7.9,7.9,8.1,7.4,8.3,7.9,PG-13,USA,6.232793e-04
8,The Dark Knight Rises,2012,2.500000e-10,4.481306e-04,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,27000,23000.0,23000.0,...,8.2,7.9,7.9,7.9,7.8,8.4,8.4,PG-13,USA,4.481304e-04
32,The Hunger Games: Catching Fire,2013,1.300000e-10,4.246456e-04,Jennifer Lawrence,Josh Hutcherson,Sandra Ellis Lafferty,34000,14000.0,523.0,...,7.9,7.3,7.2,7.9,6.7,7.7,7.4,PG-13,USA,4.246454e-04
12,Toy Story 3,2010,2.000000e-10,4.149845e-04,Tom Hanks,John Ratzenberger,Don Rickles,15000,1000.0,721.0,...,8.3,8.1,8.1,8.1,8.1,8.5,8.3,G,USA,4.149843e-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Before Midnight,2013,3.000000e-12,8.114507e-06,Seamus Davey-Fitzpatrick,Ariane Labed,Athina Rachel Tsangari,140,63.0,48.0,...,7.6,7.3,7.4,7.2,7.0,8.0,7.9,R,USA,8.114504e-06
82,Flipped,2010,1.400000e-11,1.752214e-06,Madeline Carroll,Rebecca De Mornay,Aidan Quinn,1000,872.0,767.0,...,7.7,7.4,7.3,7.6,6.4,7.5,7.7,PG,USA,1.752200e-06
39,The Little Prince,2015,8.120000e-11,1.339152e-06,Jeff Bridges,James Franco,Mackenzie Foy,12000,11000.0,6000.0,...,7.9,7.5,7.4,7.9,6.6,7.7,7.7,PG,France,1.339071e-06
89,Amour,2012,8.900000e-12,2.253770e-07,Isabelle Huppert,Emmanuelle Riva,Jean-Louis Trintignant,678,432.0,319.0,...,7.9,7.9,7.8,8.1,7.2,7.9,7.8,PG-13,France,2.253681e-07
99,Tucker and Dale vs Evil,2010,5.000000e-12,2.238380e-07,Katrina Bowden,Tyler Labine,Chelan Simmons,948,779.0,440.0,...,7.7,7.5,7.4,7.7,7.1,7.7,7.5,R,Canada,2.238330e-07

In [49]:
top_10=df_copy_sorted.head(10).copy()
top_10

,Title,title_year,budget,Gross,actor_1_name,actor_2_name,actor_3_name,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,...,Votes3044F,Votes45A,Votes45AM,Votes45AF,Votes1000,VotesUS,VotesnUS,content_rating,Country,profit
97,Star Wars: Episode VII - The Force Awakens,2015,2.450000e-10,0.000937,Doug Walker,Rob Walker,0,131,12.0,0.0,...,8.2,7.9,7.8,8.2,7.7,8.2,7.9,PG-13,USA,0.000937
11,The Avengers,2012,2.200000e-10,0.000623,Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson,26000,21000.0,19000.0,...,8.1,7.9,7.9,8.1,7.4,8.3,7.9,PG-13,USA,0.000623
8,The Dark Knight Rises,2012,2.500000e-10,0.000448,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,27000,23000.0,23000.0,...,8.2,7.9,7.9,7.9,7.8,8.4,8.4,PG-13,USA,0.000448
32,The Hunger Games: Catching Fire,2013,1.300000e-10,0.000425,Jennifer Lawrence,Josh Hutcherson,Sandra Ellis Lafferty,34000,14000.0,523.0,...,7.9,7.3,7.2,7.9,6.7,7.7,7.4,PG-13,USA,0.000425
12,Toy Story 3,2010,2.000000e-10,0.000415,Tom Hanks,John Ratzenberger,Don Rickles,15000,1000.0,721.0,...,8.3,8.1,8.1,8.1,8.1,8.5,8.3,G,USA,0.000415
9,Captain America: Civil War,2016,2.500000e-10,0.000407,Robert Downey Jr.,Scarlett Johansson,Chris Evans,21000,19000.0,11000.0,...,7.8,7.6,7.6,7.9,7.5,8.1,7.7,PG-13,USA,0.000407
47,Deadpool,2016,5.800000e-11,0.000363,Ryan Reynolds,Ed Skrein,Stefan Kapicic,16000,805.0,361.0,...,7.9,7.8,7.8,7.9,7.3,8.1,7.9,R,USA,0.000363
18,Inside Out,2015,1.750000e-10,0.000356,Amy Poehler,Mindy Kaling,Phyllis Smith,1000,767.0,384.0,...,8.1,7.9,7.9,7.9,7.6,8.2,8.1,PG,USA,0.000356
1,Zootopia,2016,1.500000e-10,0.000341,Ginnifer Goodwin,Jason Bateman,Idris Elba,2800,28000.0,27000.0,...,8.1,7.8,7.8,8.1,7.6,8.0,8.0,PG,USA,0.000341
19,Guardians of the Galaxy,2014,1.700000e-10,0.000333,Bradley Cooper,Vin Diesel,Djimon Hounsou,14000,14000.0,3000.0,...,8.0,7.9,7.9,8.0,7.6,8.3,7.9,PG-13,USA,0.000333

In [ ]:
# 4. Observations
# - The 'profit' column now represents the financial gain or loss for each movie, providing insights into its performance.
# - Sorting the dataframe based on 'profit' allows us to identify the most successful movies in terms of profitability.
# - Extracting the top ten profiting movies helps in focusing on the highest-performing titles, which can be useful for analysis and decision-making.

In [58]:
filter_data = df_copy[df_copy['profit'] < 0]
filter_data.head(2)

Empty DataFrame
Columns: [Title, title_year, budget, Gross, actor_1_name, actor_2_name, actor_3_name, actor_1_facebook_likes, actor_2_facebook_likes, actor_3_facebook_likes, IMDb_rating, genre_1, genre_2, genre_3, MetaCritic, Runtime, CVotes10, CVotes09, CVotes08, CVotes07, CVotes06, CVotes05, CVotes04, CVotes03, CVotes02, CVotes01, CVotesMale, CVotesFemale, CVotesU18, CVotesU18M, CVotesU18F, CVotes1829, CVotes1829M, CVotes1829F, CVotes3044, CVotes3044M, CVotes3044F, CVotes45A, CVotes45AM, CVotes45AF, CVotes1000, CVotesUS, CVotesnUS, VotesM, VotesF, VotesU18, VotesU18M, VotesU18F, Votes1829, Votes1829M, Votes1829F, Votes3044, Votes3044M, Votes3044F, Votes45A, Votes45AM, Votes45AF, Votes1000, VotesUS, VotesnUS, content_rating, Country, profit]
Index: []

[0 rows x 63 columns]

### Subtask 2.3: The General Audience and the Critics


You might have noticed the column `MetaCritic` in this dataset. This is a very popular website where an average score is determined through the scores given by the top-rated critics. Second, you also have another column `IMDb_rating` which tells you the IMDb rating of a movie. This rating is determined by taking the average of hundred-thousands of ratings from the general audience.

As a part of this subtask, you are required to find out the highest rated movies which have been liked by critics and audiences alike.

1. Firstly you will notice that the `MetaCritic` score is on a scale of `100` whereas the `IMDb_rating` is on a scale of `10`      First convert the `MetaCritic` column to a scale of 10.
2. Now, to find out the movies which have been liked by both critics and audiences alike and also have a high rating overall,      you need to:

    - Create a new column `Avg_rating` which will have the average of the `MetaCritic` and `Rating` columns
    - Retain only the movies in which the absolute difference(using abs() function) between the `IMDb_rating` and `Metacritic`             columns     is less than 0.5. Refer to this link to know how abs() funtion works - https://www.geeksforgeeks.org/abs-in-python/
    - Sort these values in a descending order of `Avg_rating` and retain only the movies with a rating equal to or greater than 8       and    store these movies in a new dataframe `UniversalAcclaim`.

In [72]:
df_copy_sorted['MetaCritic']=df_copy_sorted['MetaCritic']/10
df_copy_sorted['MetaCritic'].head(2)

97    8.1
11    6.9
Name: MetaCritic, dtype: float64

In [76]:
df_copy_sorted['IMDb_rating'].head(1)

97    8.1
Name: IMDb_rating, dtype: float64

In [81]:
df_copy_sorted['Avg_rating'] = (df_copy_sorted['MetaCritic'] + df_copy_sorted['IMDb_rating']) / 2
df_copy_sorted['Avg_rating'].head()

97    8.10
11    7.50
8     8.10
32    7.60
12    8.75
Name: Avg_rating, dtype: float64

### Subtask 2.4: Find the Most Popular Trios - I
You're a producer looking to make a blockbuster movie. There will primarily be three lead roles in your movie and you wish to cast the most popular actors for it. Now, since you don't want to take a risk, you will cast a trio which has already acted in together in a movie before. The metric that you've chosen to check the popularity is the Facebook likes of each of these actors.

The dataframe has three columns to help you out for the same, viz. `actor_1_facebook_likes`, `actor_2_facebook_likes`, and `actor_3_facebook_likes`. Your objective is to find the trios which has the most number of Facebook likes combined. That is, the sum of `actor_1_facebook_likes`, `actor_2_facebook_likes` and `actor_3_facebook_likes` should be `maximum`. Find out the `top 5` popular trios, and output their `names` in a list.

In [97]:
df_copy_sorted['total_Fackbook_likes']=df_copy_sorted['actor_1_facebook_likes']+df_copy_sorted['actor_2_facebook_likes']+df_copy_sorted['actor_3_facebook_likes']
df_sorted=df_copy_sorted.sort_values(by='total_Fackbook_likes',ascending=False)
df_sorted[['actor_1_name','actor_2_name','actor_3_name']].head(5).values.tolist()

[['Dev Patel', 'Nicole Kidman', 'Rooney Mara'],
 ['Leonardo DiCaprio', 'Tom Hardy', 'Joseph Gordon-Levitt'],
 ['Jennifer Lawrence', 'Peter Dinklage', 'Hugh Jackman'],
 ['Casey Affleck', 'Michelle Williams ', 'Kyle Chandler'],
 ['Tom Hardy', 'Christian Bale', 'Joseph Gordon-Levitt']]

### Subtask 2.5: Find the Most Popular Trios - II
In the previous subtask you found the popular trio based on the total number of facebook likes. Let's add a small condition to it and make sure that all three actors are popular. The condition is none of the three actors' Facebook likes should be less than half of the other two. For example, the following is a valid combo:

actor_1_facebook_likes: 70000
actor_2_facebook_likes: 40000
actor_3_facebook_likes: 50000
But the below one is not:

actor_1_facebook_likes: 70000
actor_2_facebook_likes: 40000
actor_3_facebook_likes: 30000
since in this case, actor_3_facebook_likes is 30000, which is less than half of actor_1_facebook_likes.

Having this condition ensures that you aren't getting any unpopular actor in your trio (since the total likes calculated in the previous question doesn't tell anything about the individual popularities of each actor in the trio.).

You can do a manual inspection of the top 5 popular trios you have found in the previous subtask and check how many of those trios satisfy this condition. Also, which is the most popular trio after applying the condition above? Write your answers in the markdown cell provided below?

In [111]:
valid_trios_df =df_copy_sorted[
                    (df_copy_sorted['actor_1_facebook_likes'] >=df_copy_sorted['actor_2_facebook_likes'] / 2) & 
                    (df_copy_sorted['actor_1_facebook_likes'] >= df_copy_sorted['actor_3_facebook_likes'] / 2) & 
                    (df_copy_sorted['actor_2_facebook_likes'] >= df_copy_sorted['actor_1_facebook_likes'] / 2) & 
                    (df_copy_sorted['actor_2_facebook_likes'] >= df_copy_sorted['actor_3_facebook_likes'] / 2) & 
                    (df_copy_sorted['actor_3_facebook_likes'] >= df_copy_sorted['actor_1_facebook_likes'] / 2) & 
                    (df_copy_sorted['actor_3_facebook_likes'] >= df_copy_sorted['actor_2_facebook_likes'] / 2)].copy()
valid_trios_df['total_facebook_likes'] = (valid_trios_df['actor_1_facebook_likes'] +  valid_trios_df['actor_2_facebook_likes'] +  valid_trios_df['actor_3_facebook_likes'])
valid_trios_df_sorted = valid_trios_df.sort_values(by='total_facebook_likes', ascending=False)
top_5_trios = valid_trios_df_sorted[['actor_1_name', 'actor_2_name', 'actor_3_name']].head(5).values.tolist()

[['Leonardo DiCaprio', 'Tom Hardy', 'Joseph Gordon-Levitt'], ['Jennifer Lawrence', 'Peter Dinklage', 'Hugh Jackman'], ['Tom Hardy', 'Christian Bale', 'Joseph Gordon-Levitt'], ['Chris Hemsworth', 'Robert Downey Jr.', 'Scarlett Johansson'], ['Robert Downey Jr.', 'Scarlett Johansson', 'Chris Evans']]

In [112]:
print(top_5_trios)

[['Leonardo DiCaprio', 'Tom Hardy', 'Joseph Gordon-Levitt'], ['Jennifer Lawrence', 'Peter Dinklage', 'Hugh Jackman'], ['Tom Hardy', 'Christian Bale', 'Joseph Gordon-Levitt'], ['Chris Hemsworth', 'Robert Downey Jr.', 'Scarlett Johansson'], ['Robert Downey Jr.', 'Scarlett Johansson', 'Chris Evans']]

### Subtask 2.6: R-Rated Movies

Although R rated movies are restricted movies for the under 18 age group, still there are vote counts from that age group. Among all the R rated movies that have been voted by the under-18 age group, find the top 10 movies that have the highest number of votes i.e`CVotesU18` from the `movies` dataframe. Store these in a dataframe named `PopularR`.

In [118]:
df_copy_sorted.columns
R_rated_movies = df[df['content_rating'] == 'R']
R_rated_movies_sort=R_rated_movies.sort_values(by='CVotesU18',ascending=False)
popularR=R_rated_movies_sort.head(10).copy()
print(popularR)

                                              Title  title_year     budget  \
47                                         Deadpool        2016   58000000
36                          The Wolf of Wall Street        2013  100000000
35                                 Django Unchained        2012  100000000
29                               Mad Max: Fury Road        2015  150000000
95                                         Whiplash        2014    3300000
31                                     The Revenant        2015  135000000
40                                   Shutter Island        2010   80000000
43                                        Gone Girl        2014   61000000
65                         The Grand Budapest Hotel        2014   25000000
72  Birdman or (The Unexpected Virtue of Ignorance)        2014   18000000

        Gross       actor_1_name         actor_2_name       actor_3_name  \
47  363024263      Ryan Reynolds            Ed Skrein     Stefan Kapicic
36  116866727  Leonardo DiCaprio  Matthew McConaughey        Jon Favreau
35  162804648  Leonardo DiCaprio      Christoph Waltz       Ato Essandoh
29  153629485          Tom Hardy      Charlize Theron       Zo√É¬´ Kravitz
95   13092000       J.K. Simmons      Melissa Benoist       Chris Mulkey
31  183635922  Leonardo DiCaprio            Tom Hardy         Lukas Haas
40  127968405  Leonardo DiCaprio        Joseph Sikora     Nellie Sciutto
43  167735396      Patrick Fugit            Sela Ward  Emily Ratajkowski
65   59073773        Bill Murray        Tom Wilkinson  F. Murray Abraham
72   42335698         Emma Stone          Naomi Watts      Merritt Wever

    actor_1_facebook_likes  actor_2_facebook_likes  actor_3_facebook_likes  \
47                   16000                   805.0                   361.0
36                   29000                 11000.0                  4000.0
35                   29000                 11000.0                   265.0
29                   27000                  9000.0                   943.0
95                   24000                   970.0                   535.0
31                   29000                 27000.0                   733.0
40                   29000                   223.0                   163.0
43                     835                   812.0                   625.0
65                   13000                  1000.0                   670.0
72                   15000                  6000.0                   529.0

    ...  Votes3044M Votes3044F Votes45A Votes45AM  Votes45AF  Votes1000  \
47  ...         7.9        7.9      7.8       7.8        7.9        7.3
36  ...         8.1        7.7      7.6       7.6        7.5        7.8
35  ...         8.3        8.3      8.0       8.0        8.1        7.8
29  ...         8.0        7.8      7.5       7.5        7.2        8.0
95  ...         8.3        8.2      8.1       8.1        8.2        8.0
31  ...         7.9        7.7      7.8       7.8        7.8        7.6
40  ...         7.9        8.0      7.5       7.4        7.6        7.6
43  ...         8.0        7.9      7.7       7.7        7.7        7.6
65  ...         7.9        8.0      7.8       7.8        7.9        7.7
72  ...         7.6        7.3      7.2       7.3        7.0        7.1

    VotesUS  VotesnUS  content_rating    Country
47      8.1       7.9               R        USA
36      8.1       8.1               R        USA
35      8.4       8.4               R        USA
29      8.2       8.0               R  Australia
95      8.6       8.4               R        USA
31      8.1       7.9               R        USA
40      7.8       8.1               R        USA
43      8.1       8.1               R        USA
65      8.1       8.0               R        USA
72      7.9       7.7               R        USA

[10 rows x 62 columns]

## Task 3 : Demographic analysis

If you take a look at the last columns in the dataframe, most of these are related to demographics of the voters (in the last subtask, i.e., 2.8, you made use one of these columns - CVotesU18). We also have three genre columns indicating the genres of a particular movie. We will extensively use these columns for the third and the final stage of our assignment wherein we will analyse the voters across all demographics and also see how these vary across various genres. So without further ado, let's get started with demographic analysis.

### Subtask 3.1 Dataframe & Genres

There are 3 columns in the dataframe - `genre_1`, `genre_2`, and `genre_3`. As a part of this subtask, you need to aggregate a few values over these 3 columns.

1. First create a new dataframe `df_by_genre` that contains `genre_1`, `genre_2`, and `genre_3` and all the columns related to `CVotes/Votes` from the `movies` data frame. There are `47` columns to be extracted in total.
2. Now, Add a column called `cnt` to the dataframe `df_by_genre` and initialize it to `one`. You will realise the use of this column by the end of this subtask.
3. First group the dataframe `df_by_genre` by `genre_1` and find the sum of all the numeric columns such as `cnt`, columns related to `CVotes` and `Votes` columns and store it in a dataframe `df_by_g1`.
4. Perform the same operation for `genre_2` and `genre_3` and store it dataframes `df_by_g2` and `df_by_g3` respectively.
5. Now that you have 3 dataframes performed by grouping over `genre_1`, `genre_2`, and `genre_3` separately, it's time to combine them. For this, add the three dataframes and store it in a new dataframe `df_add`, so that the corresponding values of `Votes/CVotes` get added for each genre.There is a function called `add()` in pandas which lets you do this. You can refer to this link to see how this function works. https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.add.html
6. The column `cnt` on aggregation has basically kept the track of the number of occurences of each genre.Subset the genres that have atleast 10 movies into a new dataframe `genre_top10` based on the `cnt` column value.
7. Now, take the mean of all the numeric columns by dividing them with the column value `cnt` and store it back to the same dataframe. `We will be using this dataframe for further analysis in this task unless it is explicitly mentioned to use the dataframe movies`.
8. Since the number of votes can't be a fraction, type cast all the `CVotes` related columns to integers. Also, round off all the `Votes` related columns upto two digits after the decimal point.

In [129]:
# List of column names related to CVotes/Votes
cvotes_votes_cols = [col for col in df.columns if col.startswith('CVotes') or col.startswith('Votes')]

# Create df_by_genre DataFrame with genre and CVotes/Votes columns
df_by_genre = df[['genre_1', 'genre_2', 'genre_3'] + cvotes_votes_cols].copy()
df_by_genre

,genre_1,genre_2,genre_3,CVotes10,CVotes09,CVotes08,CVotes07,CVotes06,CVotes05,CVotes04,...,Votes1829F,Votes3044,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,Votes1000,VotesUS,VotesnUS
0,Comedy,Drama,Music,74245,71191,64640,38831,17377,8044,3998,...,8.2,7.9,7.9,7.8,7.6,7.6,7.5,7.1,8.3,8.1
1,Animation,Adventure,Comedy,53626,70912,102352,57261,16719,4539,1467,...,8.4,7.8,7.8,8.1,7.8,7.8,8.1,7.6,8.0,8.0
2,Biography,Drama,NaN,23325,29830,40564,20296,5842,1669,558,...,8.4,8.0,7.9,8.2,8.0,7.9,8.4,7.1,8.1,8.0
3,Drama,Mystery,Sci-Fi,55533,87850,109536,65440,26913,10556,5057,...,8.1,7.8,7.8,7.8,7.6,7.6,7.7,7.3,8.0,7.9
4,Drama,NaN,NaN,18191,33532,46596,29626,11879,4539,1976,...,7.8,7.7,7.7,7.7,7.6,7.6,7.6,7.1,7.9,7.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Drama,Music,NaN,110404,161864,132656,56007,16577,6031,2937,...,8.5,8.3,8.3,8.2,8.1,8.1,8.2,8.0,8.6,8.4
96,Drama,Romance,NaN,16953,22109,31439,19251,8142,3412,1649,...,7.9,7.8,7.8,7.6,7.3,7.4,7.2,7.0,8.0,7.9
97,Action,Adventure,Fantasy,155391,161810,166378,99402,40734,18060,8751,...,8.3,8.0,7.9,8.2,7.9,7.8,8.2,7.7,8.2,7.9
98,Adventure,Family,Fantasy,68937,54947,102488,80465,31205,11792,4808,...,8.3,7.4,7.3,8.1,7.4,7.3,8.0,6.7,7.9,7.5
99,Comedy,Horror,NaN,16572,19818,44460,35863,13456,4588,1684,...,7.6,7.5,7.5,7.7,7.5,7.4,7.7,7.1,7.7,7.5

In [130]:
# Add a column called 'cnt' and initialize it to one
df_by_genre['cnt'] = 1

In [135]:
# Group the dataframe df_by_genre by genre_1 and find the sum of all numeric columns
df_by_g1 = df_by_genre.groupby('genre_1').sum()
print(df_by_g1)

                                                     genre_2  \
genre_1
Action     AdventureThrillerAdventureSci-FiAdventureAdven...
Adventure  FantasyFantasyDramaDramaDramaDramaDramaComedyB...
Animation  AdventureAdventureAdventureAdventureActionActi...
Biography  DramaComedyDramaDramaDramaDramaComedyDramaDram...
Comedy      DramaDramaDramaFantasyDramaDramaDramaDramaHorror
Crime          DramaDramaDramaDramaDramaDramaDramaDramaDrama
Drama      MysterySci-FiWesternMusicalHistorySportRomance...
Mystery                                             Thriller

                                                     genre_3  CVotes10  \
genre_1
Action     FantasySci-FiThrillerSci-FiSci-FiSci-FiSci-FiS...   2928407
Adventure  FamilySci-FiThrillerSci-FiWesternDramaDramaDra...   1058779
Animation  ComedyComedyComedyComedyAdventureAdventureCome...    681562
Biography  CrimeThrillerSportHistoryDramaHistoryRomanceTh...    666831
Comedy       MusicRomanceRomanceRomanceRomanceFantasyRomance    371217
Crime      ThrillerMysteryMysteryMysteryThrillerHistoryTh...    383290
Drama              Sci-FiThrillerRomanceThrillerSci-FiSci-Fi   1080725
Mystery                                                    0    150405

           CVotes09  CVotes08  CVotes07  CVotes06  CVotes05  CVotes04  \
genre_1
Action      3261919   4247693   2662020    986774    364234    156150
Adventure   1179818   1560541    966275    365486    136985     58559
Animation    798227   1153214    722782    251076     83069     30718
Biography   1088430   1654704    962977    306247    100005     38874
Comedy       496905    770395    518566    205434     81933     35788
Crime        690221   1083469    627593    206756     71460     30336
Drama       1494053   1827363   1078966    417205    163874     75525
Mystery      230844    278844    132349     45167     15615      7061

           CVotes03  ...  Votes3044  Votes3044M  Votes3044F  Votes45A  \
genre_1              ...
Action        89483  ...      209.1       208.8       210.0     206.5
Adventure     33174  ...       92.7        92.6        93.5      92.0
Animation     15733  ...       85.4        84.9        87.8      84.5
Biography     21536  ...      100.8       100.7       101.3     100.5
Comedy        20965  ...       68.6        68.7        68.9      67.7
Crime         17190  ...       69.4        69.7        68.8      68.7
Drama         45846  ...      139.3       139.0       139.7     137.7
Mystery        3780  ...        7.9         7.9         8.0       7.5

           Votes45AM  Votes45AF  Votes1000  VotesUS  VotesnUS  cnt
genre_1
Action         206.0      209.0      197.2    215.8     209.5   27
Adventure       91.6       93.8       88.9     95.3      93.5   12
Animation       84.1       86.7       80.0     87.6      86.1   11
Biography      100.0      102.9       94.7    103.3     101.5   13
Comedy          67.5       68.7       62.7     70.9      69.4    9
Crime           68.6       69.6       66.3     71.9      70.1    9
Drama          137.2      138.7      130.0    143.2     141.1   18
Mystery          7.4        7.6        7.6      7.8       8.1    1

[8 rows x 47 columns]

In [134]:
# Group the dataframe df_by_genre by genre_2 and find the sum of all numeric columns
df_by_g2 = df_by_genre.groupby('genre_2').sum()

# Group the dataframe df_by_genre by genre_3 and find the sum of all numeric columns
df_by_g3 = df_by_genre.groupby('genre_3').sum()
print(df_by_g2)
print(df_by_g3)

                                                     genre_1  \
genre_2
Action                  AnimationAnimationAnimationAnimation
Adventure  AnimationActionAnimationActionAnimationActionA...
Biography                  ActionActionActionActionAdventure
Comedy     BiographyActionActionBiographyAdventureAdventu...
Crime                                                 Action
Drama      ComedyBiographyCrimeAdventureAdventureAdventur...
Family                                             Adventure
Fantasy                             AdventureAdventureComedy
History                                                Drama
Horror                                                Comedy
Music                                                  Drama
Musical                                                Drama
Mystery                                           DramaDrama
Romance                            DramaDramaDramaDramaDrama
Sci-Fi                                           ActionDrama
Sport                                                  Drama
Thriller                                  ActionMysteryDrama
War                                                    Drama
Western                                                Drama

                                                     genre_3  CVotes10  \
genre_2
Action                  AdventureAdventureAdventureAdventure    238060
Adventure  ComedyFantasyComedySci-FiComedyThrillerSci-FiS...   2297820
Biography                          DramaDramaDramaDramaDrama    185172
Comedy                      CrimeRomanceDramaDramaDramaDrama    428995
Crime                                                  Drama     19576
Drama      MusicThrillerFamilySci-FiThrillerSci-FiSci-FiM...   1923492
Family                                               Fantasy     68937
Fantasy                                              Romance    270616
History                                             Thriller     15757
Horror                                                     0     16572
Music                                                      0    110404
Musical                                              Romance     54268
Mystery                                         Sci-FiSci-Fi     85313
Romance                                               Sci-Fi    230425
Sci-Fi                                              Thriller    350243
Sport                                                      0     21364
Thriller                                                   0    624792
War                                                        0     15911
Western                                                    0    234824

           CVotes09  CVotes08  CVotes07  CVotes06  CVotes05  CVotes04  \
genre_2
Action       285510    430062    260106     88580     29250     10820
Adventure   2548864   3271725   2055600    758009    272735    113691
Biography    313178    576374    370003    119348     38643     14844
Comedy       624720    854162    512668    193916     76752     35193
Crime         40247     85359     64633     24920      8548      3261
Drama       2761237   4112363   2492241    853434    300100    124511
Family        54947    102488     80465     31205     11792      4808
Fantasy      290831    447307    291071    120920     47215     19848
History       32840     83322     63800     19183      5178      1657
Horror        19818     44460     35863     13456      4588      1684
Music        161864    132656     56007     16577      6031      2937
Musical       47750     63323     45160     22393     10744      5551
Mystery      152619    233474    148176     55575     20135      8863
Romance      270702    353326    215355     87701     35226     16298
Sci-Fi       361819    433983    284879    125143     53350     24462
Sport         28964     58237     45563     16432      5118      1655
Thriller     709424    734770    365134    135892     52714     25734
War           17607     32570     24461     10274      3848      1387
Western      339329    286911    121445     38251     14227      6469

           CVotes03  ...  Votes3044  Votes3044M  Votes3044F  Votes45A  \
genre_2              ...
Action         5521  ...       30.9        30.7        31.8      30.5
Adventure     64623  ...      171.0       170.4       173.9     169.2
Biography      7974  ...       38.3        38.2        38.5      38.0
Comedy        20995  ...       54.0        54.1        53.4      53.0
Crime          1669  ...        7.5         7.6         7.2       7.6
Drama         70205  ...      270.2       270.4       270.1     267.9
Family         2454  ...        7.4         7.3         8.1       7.4
Fantasy       10871  ...       22.9        22.9        23.3      23.0
History         735  ...        7.5         7.5         7.5       7.7
Horror          855  ...        7.5         7.5         7.7       7.5
Music          1859  ...        8.3         8.3         8.2       8.1
Musical        3484  ...        7.3         7.2         7.6       7.4
Mystery        5034  ...       15.4        15.4        15.2      15.2
Romance        9448  ...       38.7        38.7        38.7      37.9
Sci-Fi        15069  ...       15.8        15.8        15.6      15.6
Sport           848  ...        7.4         7.4         7.4       7.3
Thriller      15558  ...       24.1        24.1        24.2      22.9
War             726  ...        7.3         7.2         7.7       7.6
Western        4149  ...        8.3         8.3         8.3       8.0

           Votes45AM  Votes45AF  Votes1000  VotesUS  VotesnUS  cnt
genre_2
Action          30.4       31.4       29.0     31.8      31.1    4
Adventure      168.4      172.8      162.7    176.4     171.6   22
Biography       37.9       38.8       35.4     39.4      38.4    5
Comedy          53.1       53.1       51.0     55.5      54.3    7
Crime            7.6        7.4        7.2      7.8       7.6    1
Drama          267.1      271.8      253.4    278.2     272.6   35
Family           7.3        8.0        6.7      7.9       7.5    1
Fantasy         22.8       23.7       22.1     23.4      23.2    3
History          7.6        7.9        7.4      7.7       7.5    1
Horror           7.4        7.7        7.1      7.7       7.5    1
Music            8.1        8.2        8.0      8.6       8.4    1
Musical          7.3        7.7        6.6      7.6       7.5    1
Mystery         15.2       15.1       14.8     15.9      15.6    2
Romance         37.8       37.7       35.3     39.7      39.2    5
Sci-Fi          15.6       15.6       14.9     16.2      15.7    2
Sport            7.3        7.5        7.1      7.9       7.5    1
Thriller        22.8       22.9       23.0     24.2      24.5    3
War              7.5        8.0        6.6      7.6       7.5    1
Western          8.0        8.1        7.8      8.4       8.4    1

[19 rows x 47 columns]
                                                     genre_1  \
genre_3
Adventure               AnimationAnimationAnimationAnimation
Comedy     AnimationAnimationAnimationAnimationAnimationA...
Crime                                              Biography
Drama      ActionAnimationActionActionActionActionBiograp...
Family                                             Adventure
Fantasy                          ActionComedyActionAdventure
History                              BiographyBiographyCrime
Music                                                 Comedy
Mystery                                ActionCrimeCrimeCrime
Romance    DramaActionComedyComedyComedyBiographyComedyCo...
Sci-Fi     DramaActionActionActionActionActionActionAdven...
Sport                                        BiographyAction
Thriller   CrimeActionAdventureDramaBiographyDramaCrimeBi...
War                                                   Action
Western                                            Adventure

                                                     genre_2  CVotes10  \
genre_3
Adventure                           ActionActionActionAction    238060
Comedy     AdventureAdventureAdventureAdventureAdventureA...    583404
Crime                                                 Comedy    171660
Drama      AdventureAdventureBiographyBiographyBiographyC...    400221
Family                                                 Drama     29228
Fantasy                        AdventureDramaAdventureFamily    301836
History                                      DramaDramaDrama    135504
Music                                                  Drama     74245
Mystery                             AdventureDramaDramaDrama    274446
Romance        MusicalComedyDramaFantasyDramaDramaDramaDrama    319534
Sci-Fi     MysteryAdventureAdventureAdventureAdventureAdv...   1975041
Sport                                             DramaDrama     95717
Thriller   DramaAdventureDramaSci-FiDramaHistoryDramaDram...    456909
War                                                    Drama     36753
Western                                                Drama     21094

           CVotes09  CVotes08  CVotes07  CVotes06  CVotes05  CVotes04  \
genre_3
Adventure    285510    430062    260106     88580     29250     10820
Comedy       653362    882294    559835    200937     68167     26488
Crime        236650    250667    129164     46715     18682      8674
Drama        680085   1167327    748493    258717     88338     35439
Family        40728     77893     62936     27932     11179      4664
Fantasy      311392    442460    308676    120911     46269     19555
History      227547    311209    159262     48678     16055      6307
Music         71191     64640     38831     17377      8044      3998
Mystery      443661    654167    375087    128131     44818     18755
Romance      418790    715954    497486    193588     75675     32615
Sci-Fi      2169036   2569011   1517219    546668    200825     87463
Sport        140282    214806    138600     44470     13821      5155
Thriller     756067   1258608    810665    280154     97239     39547
War           54703    111271     82505     30231     10553      4303
Western       40901     91825     67175     23055      7191      2678

           CVotes03  ...  Votes3044  Votes3044M  Votes3044F  Votes45A  \
genre_3              ...
Adventure      5521  ...       30.9        30.7        31.8      30.5
Comedy        14258  ...       54.8        54.6        56.0      54.3
Crime          5854  ...        8.0         8.1         7.7       7.6
Drama         19075  ...       91.8        91.7        92.0      91.2
Family         2674  ...        7.4         7.4         7.4       7.5
Fantasy       11362  ...       30.4        30.2        31.7      30.4
History        3649  ...       23.7        23.6        23.8      23.3
Music          2839  ...        7.9         7.9         7.8       7.6
Mystery       10578  ...       30.8        30.8        31.5      30.4
Romance       18250  ...       60.2        60.2        60.9      59.9
Sci-Fi        50835  ...      117.8       117.7       117.6     115.5
Sport          2509  ...       15.5        15.5        15.2      15.2
Thriller      22382  ...       76.5        76.6        75.9      76.7
War            2388  ...        7.4         7.4         7.4       7.4
Western        1305  ...        7.6         7.6         7.5       7.7

           Votes45AM  Votes45AF  Votes1000  VotesUS  VotesnUS  cnt
genre_3
Adventure       30.4       31.4       29.0     31.8      31.1    4
Comedy          54.1       55.3       51.7     56.2      55.2    7
Crime            7.6        7.5        7.8      8.1       8.1    1
Drama           91.0       92.7       86.1     94.5      92.3   12
Family           7.5        7.6        7.4      7.7       7.5    1
Fantasy         30.0       31.8       28.4     31.5      30.5    4
History         23.1       24.2       22.0     24.5      23.7    3
Music            7.6        7.5        7.1      8.3       8.1    1
Mystery         30.3       31.3       29.3     31.9      31.3    4
Romance         59.7       61.2       54.6     62.1      60.9    8
Sci-Fi         115.2      115.9      113.0    121.3     118.3   15
Sport           15.2       15.0       14.2     16.0      15.6    2
Thriller        76.5       77.8       73.2     78.9      77.0   10
War              7.4        7.4        6.8      7.6       7.5    1
Western          7.7        7.7        7.3      7.9       7.6    1

[15 rows x 47 columns]

In [138]:
# Select only the numeric columns from df_by_g1, df_by_g2, and df_by_g3
numeric_cols_g1 = df_by_g1.select_dtypes(include='number')
numeric_cols_g2 = df_by_g2.select_dtypes(include='number')
numeric_cols_g3 = df_by_g3.select_dtypes(include='number')

# Combine the numeric columns to get the total counts and votes for each genre
df_add = numeric_cols_g1.add(numeric_cols_g2, fill_value=0).add(numeric_cols_g3, fill_value=0)
print(df_add)

            CVotes10   CVotes09   CVotes08   CVotes07   CVotes06  CVotes05  \
Action     3166467.0  3547429.0  4677755.0  2922126.0  1075354.0  393484.0
Adventure  3594659.0  4014192.0  5262328.0  3281981.0  1212075.0  438970.0
Animation   681562.0   798227.0  1153214.0   722782.0   251076.0   83069.0
Biography   852003.0  1401608.0  2231078.0  1332980.0   425595.0  138648.0
Comedy     1383616.0  1774987.0  2506851.0  1591069.0   600287.0  226852.0
Crime       574526.0   967118.0  1419495.0   821390.0   278391.0   98690.0
Drama      3404438.0  4935375.0  7107053.0  4319700.0  1529356.0  552312.0
Family       98165.0    95675.0   180381.0   143401.0    59137.0   22971.0
Fantasy     572452.0   602223.0   889767.0   599747.0   241831.0   93484.0
History     151261.0   260387.0   394531.0   223062.0    67861.0   21233.0
Horror       16572.0    19818.0    44460.0    35863.0    13456.0    4588.0
Music       184649.0   233055.0   197296.0    94838.0    33954.0   14075.0
Musical      54268.0    47750.0    63323.0    45160.0    22393.0   10744.0
Mystery     510164.0   827124.0  1166485.0   655612.0   228873.0   80568.0
Romance     549959.0   689492.0  1069280.0   712841.0   281289.0  110901.0
Sci-Fi     2325284.0  2530855.0  3002994.0  1802098.0   671811.0  254175.0
Sport       117081.0   169246.0   273043.0   184163.0    60902.0   18939.0
Thriller   1081701.0  1465491.0  1993378.0  1175799.0   416046.0  149953.0
War          52664.0    72310.0   143841.0   106966.0    40505.0   14401.0
Western     255918.0   380230.0   378736.0   188620.0    61306.0   21418.0

           CVotes04  CVotes03  CVotes02  CVotes01  ...  Votes3044  Votes3044M  \
Action     166970.0   95004.0   65573.0  171247.0  ...      240.0       239.5
Adventure  183070.0  103318.0   69737.0  173858.0  ...      294.6       293.7
Animation   30718.0   15733.0   10026.0   25193.0  ...       85.4        84.9
Biography   53718.0   29510.0   20613.0   51297.0  ...      139.1       138.9
Comedy      97469.0   56218.0   39391.0   88367.0  ...      177.4       177.4
Crime       42271.0   24713.0   16985.0   37217.0  ...       84.9        85.4
Drama      235475.0  135126.0   94185.0  211308.0  ...      501.3       501.1
Family       9472.0    5128.0    3317.0    7545.0  ...       14.8        14.7
Fantasy     39403.0   22233.0   14693.0   38841.0  ...       53.3        53.1
History      7964.0    4384.0    3148.0    9291.0  ...       31.2        31.1
Horror       1684.0     855.0     479.0     848.0  ...        7.5         7.5
Music        6935.0    4698.0    3670.0    9525.0  ...       16.2        16.2
Musical      5551.0    3484.0    2490.0    5020.0  ...        7.3         7.2
Mystery     34679.0   19392.0   13170.0   29444.0  ...       54.1        54.1
Romance     48913.0   27698.0   19200.0   40075.0  ...       98.9        98.9
Sci-Fi     111925.0   65904.0   46171.0  114435.0  ...      133.6       133.5
Sport        6810.0    3357.0    2292.0    5234.0  ...       22.9        22.9
Thriller    65281.0   37940.0   25767.0   57630.0  ...      100.6       100.7
War          5690.0    3114.0    1971.0    4001.0  ...       14.7        14.6
Western      9147.0    5454.0    3960.0    9737.0  ...       15.9        15.9

           Votes3044F  Votes45A  Votes45AM  Votes45AF  Votes1000  VotesUS  \
Action          241.8     237.0      236.4      240.4      226.2    247.6
Adventure       299.2     291.7      290.4      298.0      280.6    303.5
Animation        87.8      84.5       84.1       86.7       80.0     87.6
Biography       139.8     138.5      137.9      141.7      130.1    142.7
Comedy          178.3     175.0      174.7      177.1      165.4    182.6
Crime            83.7      83.9       83.8       84.5       81.3     87.8
Drama           501.8     496.8      495.3      503.2      469.5    515.9
Family           15.5      14.9       14.8       15.6       14.1     15.6
Fantasy          55.0      53.4       52.8       55.5       50.5     54.9
History          31.3      31.0       30.7       32.1       29.4     32.2
Horror            7.7       7.5        7.4        7.7        7.1      7.7
Music            16.0      15.7       15.7       15.7       15.1     16.9
Musical           7.6       7.4        7.3        7.7        6.6      7.6
Mystery          54.7      53.1       52.9       54.0       51.7     55.6
Romance          99.6      97.8       97.5       98.9       89.9    101.8
Sci-Fi          133.2     131.1      130.8      131.5      127.9    137.5
Sport            22.6      22.5       22.5       22.5       21.3     23.9
Thriller        100.1      99.6       99.3      100.7       96.2    103.1
War              15.1      15.0       14.9       15.4       13.4     15.2
Western          15.8      15.7       15.7       15.8       15.1     16.3

           VotesnUS   cnt
Action        240.6  31.0
Adventure     296.2  38.0
Animation      86.1  11.0
Biography     139.9  18.0
Comedy        178.9  23.0
Crime          85.8  11.0
Drama         506.0  65.0
Family         15.0   2.0
Fantasy        53.7   7.0
History        31.2   4.0
Horror          7.5   1.0
Music          16.5   2.0
Musical         7.5   1.0
Mystery        55.0   7.0
Romance       100.1  13.0
Sci-Fi        134.0  17.0
Sport          23.1   3.0
Thriller      101.5  13.0
War            15.0   2.0
Western        16.0   2.0

[20 rows x 45 columns]

In [140]:
# Subset the genres that have at least 10 movies into a new DataFrame genre_top10
genre_top10 = df_add[df_add['cnt'] >= 10].copy()
genre_top10

,CVotes10,CVotes09,CVotes08,CVotes07,CVotes06,CVotes05,CVotes04,CVotes03,CVotes02,CVotes01,...,Votes3044,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,Votes1000,VotesUS,VotesnUS,cnt
Action,3166467.0,3547429.0,4677755.0,2922126.0,1075354.0,393484.0,166970.0,95004.0,65573.0,171247.0,...,240.0,239.5,241.8,237.0,236.4,240.4,226.2,247.6,240.6,31.0
Adventure,3594659.0,4014192.0,5262328.0,3281981.0,1212075.0,438970.0,183070.0,103318.0,69737.0,173858.0,...,294.6,293.7,299.2,291.7,290.4,298.0,280.6,303.5,296.2,38.0
Animation,681562.0,798227.0,1153214.0,722782.0,251076.0,83069.0,30718.0,15733.0,10026.0,25193.0,...,85.4,84.9,87.8,84.5,84.1,86.7,80.0,87.6,86.1,11.0
Biography,852003.0,1401608.0,2231078.0,1332980.0,425595.0,138648.0,53718.0,29510.0,20613.0,51297.0,...,139.1,138.9,139.8,138.5,137.9,141.7,130.1,142.7,139.9,18.0
Comedy,1383616.0,1774987.0,2506851.0,1591069.0,600287.0,226852.0,97469.0,56218.0,39391.0,88367.0,...,177.4,177.4,178.3,175.0,174.7,177.1,165.4,182.6,178.9,23.0
Crime,574526.0,967118.0,1419495.0,821390.0,278391.0,98690.0,42271.0,24713.0,16985.0,37217.0,...,84.9,85.4,83.7,83.9,83.8,84.5,81.3,87.8,85.8,11.0
Drama,3404438.0,4935375.0,7107053.0,4319700.0,1529356.0,552312.0,235475.0,135126.0,94185.0,211308.0,...,501.3,501.1,501.8,496.8,495.3,503.2,469.5,515.9,506.0,65.0
Romance,549959.0,689492.0,1069280.0,712841.0,281289.0,110901.0,48913.0,27698.0,19200.0,40075.0,...,98.9,98.9,99.6,97.8,97.5,98.9,89.9,101.8,100.1,13.0
Sci-Fi,2325284.0,2530855.0,3002994.0,1802098.0,671811.0,254175.0,111925.0,65904.0,46171.0,114435.0,...,133.6,133.5,133.2,131.1,130.8,131.5,127.9,137.5,134.0,17.0
Thriller,1081701.0,1465491.0,1993378.0,1175799.0,416046.0,149953.0,65281.0,37940.0,25767.0,57630.0,...,100.6,100.7,100.1,99.6,99.3,100.7,96.2,103.1,101.5,13.0

In [142]:
# Take the mean of all numeric columns by dividing them with the column value 'cnt' and store it back to the same dataframe
genre_top10.iloc[:, :-1] = genre_top10.iloc[:, :-1].div(genre_top10['cnt'], axis=0)
print(genre_top10)

              CVotes10     CVotes09      CVotes08     CVotes07     CVotes06  \
Action     3294.970864  3691.393340   4867.591051  3040.713840  1118.994797
Adventure  2489.376039  2779.911357   3644.271468  2272.840028   839.387119
Animation  5632.743802  6596.917355   9530.694215  5973.404959  2075.008264
Biography  2629.638889  4325.950617   6886.043210  4114.135802  1313.564815
Comedy     2615.531191  3355.362949   4738.848771  3007.691871  1134.758034
Crime      4748.148760  7992.710744  11731.363636  6788.347107  2300.752066
Drama       805.784142  1168.136095   1682.142722  1022.414201   361.977751
Romance    3254.195266  4079.834320   6327.100592  4217.994083  1664.431953
Sci-Fi     8045.965398  8757.283737  10390.982699  6235.633218  2324.605536
Thriller   6400.597633  8671.544379  11795.136095  6957.390533  2461.810651

             CVotes05    CVotes04    CVotes03    CVotes02    CVotes01  ...  \
Action     409.452653  173.746098   98.859521   68.234131  178.196670  ...
Adventure  303.995845  126.779778   71.549861   48.294321  120.400277  ...
Animation  686.520661  253.867769  130.024793   82.859504  208.206612  ...
Biography  427.925926  165.796296   91.080247   63.620370  158.324074  ...
Comedy     428.831758  184.251418  106.272212   74.463138  167.045369  ...
Crime      815.619835  349.347107  204.239669  140.371901  307.578512  ...
Drama      130.724734   55.733728   31.982485   22.292308   50.013728  ...
Romance    656.218935  289.426036  163.893491  113.609467  237.130178  ...
Sci-Fi     879.498270  387.283737  228.041522  159.761246  395.968858  ...
Thriller   887.295858  386.278107  224.497041  152.467456  341.005917  ...

           Votes3044  Votes3044M  Votes3044F  Votes45A  Votes45AM  Votes45AF  \
Action      0.249740    0.249220    0.251613  0.246618   0.245994   0.250156
Adventure   0.204017    0.203393    0.207202  0.202008   0.201108   0.206371
Animation   0.705785    0.701653    0.725620  0.698347   0.695041   0.716529
Biography   0.429321    0.428704    0.431481  0.427469   0.425617   0.437346
Comedy      0.335350    0.335350    0.337051  0.330813   0.330246   0.334783
Crime       0.701653    0.705785    0.691736  0.693388   0.692562   0.698347
Drama       0.118651    0.118604    0.118769  0.117586   0.117231   0.119101
Romance     0.585207    0.585207    0.589349  0.578698   0.576923   0.585207
Sci-Fi      0.462284    0.461938    0.460900  0.453633   0.452595   0.455017
Thriller    0.595266    0.595858    0.592308  0.589349   0.587574   0.595858

           Votes1000   VotesUS  VotesnUS   cnt
Action      0.235380  0.257648  0.250364  31.0
Adventure   0.194321  0.210180  0.205125  38.0
Animation   0.661157  0.723967  0.711570  11.0
Biography   0.401543  0.440432  0.431790  18.0
Comedy      0.312665  0.345180  0.338185  23.0
Crime       0.671901  0.725620  0.709091  11.0
Drama       0.111124  0.122107  0.119763  65.0
Romance     0.531953  0.602367  0.592308  13.0
Sci-Fi      0.442561  0.475779  0.463668  17.0
Thriller    0.569231  0.610059  0.600592  13.0

[10 rows x 45 columns]

In [143]:
# Type cast CVotes related columns to integers
cvotes_cols = [col for col in genre_top10.columns if col.startswith('CVotes')]
genre_top10[cvotes_cols] = genre_top10[cvotes_cols].astype(int)

# Round off Votes related columns to two digits after the decimal point
votes_cols = [col for col in genre_top10.columns if col.startswith('Votes')]
genre_top10[votes_cols] = genre_top10[votes_cols].round(2)

# Print the resulting DataFrame
print(genre_top10)

           CVotes10  CVotes09  CVotes08  CVotes07  CVotes06  CVotes05  \
Action         3294      3691      4867      3040      1118       409
Adventure      2489      2779      3644      2272       839       303
Animation      5632      6596      9530      5973      2075       686
Biography      2629      4325      6886      4114      1313       427
Comedy         2615      3355      4738      3007      1134       428
Crime          4748      7992     11731      6788      2300       815
Drama           805      1168      1682      1022       361       130
Romance        3254      4079      6327      4217      1664       656
Sci-Fi         8045      8757     10390      6235      2324       879
Thriller       6400      8671     11795      6957      2461       887

           CVotes04  CVotes03  CVotes02  CVotes01  ...  Votes3044  Votes3044M  \
Action          173        98        68       178  ...       0.25        0.25
Adventure       126        71        48       120  ...       0.20        0.20
Animation       253       130        82       208  ...       0.71        0.70
Biography       165        91        63       158  ...       0.43        0.43
Comedy          184       106        74       167  ...       0.34        0.34
Crime           349       204       140       307  ...       0.70        0.71
Drama            55        31        22        50  ...       0.12        0.12
Romance         289       163       113       237  ...       0.59        0.59
Sci-Fi          387       228       159       395  ...       0.46        0.46
Thriller        386       224       152       341  ...       0.60        0.60

           Votes3044F  Votes45A  Votes45AM  Votes45AF  Votes1000  VotesUS  \
Action           0.25      0.25       0.25       0.25       0.24     0.26
Adventure        0.21      0.20       0.20       0.21       0.19     0.21
Animation        0.73      0.70       0.70       0.72       0.66     0.72
Biography        0.43      0.43       0.43       0.44       0.40     0.44
Comedy           0.34      0.33       0.33       0.33       0.31     0.35
Crime            0.69      0.69       0.69       0.70       0.67     0.73
Drama            0.12      0.12       0.12       0.12       0.11     0.12
Romance          0.59      0.58       0.58       0.59       0.53     0.60
Sci-Fi           0.46      0.45       0.45       0.46       0.44     0.48
Thriller         0.59      0.59       0.59       0.60       0.57     0.61

           VotesnUS   cnt
Action         0.25  31.0
Adventure      0.21  38.0
Animation      0.71  11.0
Biography      0.43  18.0
Comedy         0.34  23.0
Crime          0.71  11.0
Drama          0.12  65.0
Romance        0.59  13.0
Sci-Fi         0.46  17.0
Thriller       0.60  13.0

[10 rows x 45 columns]